@font-face {
    font-family: GilroyXBold;
  src: url(./Gilroy-ExtraBold.ttf) format('truetype');
    font-family: GilroyLight;
    src: url(./Gilroy-Light.ttf) format('truetype');
}


:root{
    --ic-blue: #2c3f81;
    --ic-violet: #494b79;
    --ic-purple: #7b444e;
    --ic-red: #ac4c29;
    --ic-orange: #ff7a1b;
    --leads-section-theme: #fafafa;
}



html{
    scroll-behavior: smooth;
}

body {
    margin: 0 0;
    width: 100%;
    height: 2000px;
    padding: 0 0;
    overflow-x:hidden;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    padding: 0 20px;
    z-index: 1000;
    font-size: 1vh;
    transition: 0.5s all;
    border: none;
}


header .header-logo{
    display: inline-block;
    opacity: 0;
    align-items: center;
}

header .social-icons{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 90%;
    height: 60px;
}

.social-icons a {
    
}

header a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 60px;
    width:60px;
    font-size: 30px;
    color: #aaa;
    transition: 0.2s all linear;
}

header a:hover {
    color:#ff7a1b;
}



header a img {
    height: 40px;
}

canvas {

}

.sections {
    width: 100%;
    height: 500px;
}
.landingPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 1000px;
}

.landingPage h1 {
    padding: 0 10%;
    font-size: 40px;
    flex: 0 0 50%;
    text-align: justify;
    font-family: GilroyXLight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 70px;

}

.landingPage img {
 
    height: auto;
    flex: 0 0 40%;
    width: 40%;
    z-index: -1;
}

.mission {
    display: flex;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5000px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.R {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;
    left: 0px;
    padding: 0 5%;
    top: 60px;
    font-size: 1px;
    color: #fff;
    height: 1300px;
    width: 100%;
    -webkit-text-stroke: 2px var(--ic-orange);
    }

.R:hover{
    color: var(--ic-orange);
    transition: 200ms;
}

section h1  {
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.change-hyperloop {
    height: 350px;
    width: 14%;
    padding: 0 10px;
    background-color: var(--ic-blue);
    border: 2px solid var(--ic-blue);
    margin: 1%;
    float: left;
    color: white;
    font-size: 20px;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.SpaceX-competition {
    height: 350px;
    width: 14%;
    padding: 0 10px;
    background-color: var(--ic-blue);
    border: 2px solid var(--ic-blue);
    margin: 1%;
    float: left;
    color: white;
    font-size: 20px;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.RRR {
    height: 450px;
    width: 22%;
    padding: 0 10px;
    background-color: var(--ic-blue);
    border: 2px solid var(--ic-blue);
    margin: 1%;
    float: left;
    color: white;
    font-size: 20px;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social {
    color: var(--ic-blue);
    font-size: 20px;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    width: 100%;
    padding: 0 10px;
    margin: 1%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 10;
    text-align: left;
    padding-bottom: 50px;
}

.social>h1 {
    flex: 0 0 100%;
    font-size: 100px;
    text-align: center;
}



.social div {
    display: flex;
    flex: 1 1 300px;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}



.teams {
    text-align: center;
}



#teams-title {
    text-align: center;
    color: var(--ic-blue);
    size: 20px;
}

.centerwrapper {
    margin: auto;
    width: 98%;
}

@media only screen and (min-width: 1260px) {
    /* For desktop: */

    .team-container{
        float: left;
        padding: .5% 1%;
        height: 400px;
        width: 16.5%;
        text-align: left;
    }

    .team-description{
        margin-top: 23%;
    }
}

@media only screen and (max-width: 1260px) {
    /*For mobile: */

    .team-container{
        width: 100%;
        height: 100px;
        padding: 1.5%;
    }

    .team-name {
        float: left;
        text-align: left;
    }

    .team-description {
        text-align: right;
        float: right;
        max-width: 75%;
    }
}

.team-container {
    overflow: hidden;
    margin: .07%;
    color: #fff;
    font-weight: bold;
    background-color: var(--ic-blue); /*set once we set dark/light mode*/
    font-size: 20px;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.team-description {
    visibility: hidden;
    width: 100%;
    height: 0;
    transition: .8s ease;
    transform: translate(-0, -5%);
    color: var(--ic-blue); /*set to match background colour*/ 
    font-size: 16px;
    font-family: GilroyLight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    }

.team-container:hover{
    color: var(--ic-blue); /*set to background colour from before*/
    border: 2px solid var(--ic-blue);
    background-color: #fff;
    transition: 200ms;
}

.team-container:hover .team-description{
    visibility: visible;
    height: 100%;
    }


.leads {
    width: 100%;
    height: 1100px;
    background: var(--leads-section-theme);
    text-align: center;
    padding: 50px 50px;
    position: relative;
   
}

.leads>div>h1 {
    color: var(--ic-blue);
    font-size: 100px;
   text-shadow: 0px 0px 40px #aaa;
}

.leads>div:first-of-type {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}

/* 
.leads #team-name {
    display: block;
    position: absolute;
    left: 1%;
    top: 50%;
     transform: translate(0,-50%);
    width: 27%;
    height: 300px;
    overflow-y: hidden;
    border-radius: 10px;
    background-color: var(--leads-section-theme);
}

.leads #team-name div{
    border-radius: 10px;
    background-clip: content-box;
    padding: 10%;
    background-color: inherit;
    overflow: hidden;
}

.leads #team-name div p{
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 80px 0;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 60px;
    background-color: var(--leads-section-theme);
    color: var(--ic-orange);
    border-radius: 10px;
    font-family:GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 */

/*
ic
ic purple
ic blue


*/
/* 
.leads #team-description {
    display: block;
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translate(0%,-50%);  
    width: 27%;
    height: 300px;
    overflow-y: hidden;
    border-radius: 10px;
    background-color: var(--leads-section-theme);
}

.leads #team-description div p{
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 20px;
    padding: 10px 0;
    background-color:var(--leads-section-theme);
    color: #000;
    font-family:GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

#leads-carousel {
    display:block;
    position: absolute;
    text-align: center;
    max-width: 66%;
    height: 700px;

    top: 55%;
    left:50%;
      transform: translate(-50%, -50%);  
    transition: 0.3s all linear;
}






#leads-carousel .slides {
    /* background-color: #ac4c29; */
    width: 500px;
    height: 700px;
    text-align: center;
 position: relative;
    z-index: 1000;
    transform: translate(0, 15%) ;
}

.lead-person {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    padding: 30px;
    width: 66%;
    height: 66%;
    border-radius: 100%;
    margin: 0 auto;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  filter: blur(3px);
  transition: 0.3s all linear;

}
.lead-person img::after {
    content: "";
    position: relative;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
  
     background: #000; 
}

.slick-current .lead-person{
   
    filter: blur(0);
    transform: scale(2,2) translate(-25%, -20%);
} 



.lead-person h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-25%);
    z-index: 10;

width: 100%;
height: 100%;

opacity: 0;
transition: inherit;

}

.slick-current .lead-person h1:hover {
    opacity: 1;
     background-color: rgba(255, 255, 255, 0.3); 
    cursor: pointer;
}

.lead-person img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 100%;
}
/* 
.slick-next::before {
    display: none;
    content:"\203A";
    color: var(--ic-blue);
    position: absolute;
    left: 0px;
    top: -150px;
    font-size: 200px;
    z-index: 100;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s lead-buttons-left infinite;
}

.slick-prev::before {
    display: none;
    content:"\2039";
    position: absolute;
    color: var(--ic-blue);
    right: 0px;
    top: -150px;
    font-size: 200px;
    z-index: 100;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275) 4s lead-buttons-right infinite;
} */



#pod-container {
    background-color: skyblue;
  width: 100%;
  height: 100%;
}


.competition {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.lander-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.competition h1 {
   
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 100px;
    text-shadow:0px 0px 10px #aaa inset
}


.competition #competition-counter {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 10vw 0;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}   

#competition-counter .counter-counter {
    padding-top: 22%;
    position: relative;
    width: 22%;
    margin: 0 10px;
    text-align: center;
    border: 3px solid #2c3f81;
    box-shadow: 0px 0px 15px 2px #aaa;
    border-radius: 10px;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.counter-counter .counter-num {
    position: absolute;
    font-size: 12vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    color: #2c3f81;
}

.counter-counter .counter-time {
    position: absolute;
    font-size: 2vw;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
    font-weight: 800;
    color: #2c3f81;

}

.competition button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5vw 39%;
    padding: 0;
    background: #ff7a1b;
    color: #fff;
    height: 80px;
    border-radius: 30px;
    border: none;
    font-size: 2vw;
    font-weight: 700;
    transition: 0.5s all;
    box-shadow: none;
    text-shadow: none;
    font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

.competition button:hover {
    background: transparent;
    color: #ff7a1b;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #aaa;
    font-size: 2.1vw;
}

footer {
    height: 200px;
    background: #000;
    color: #ff7a1b;
}


@media screen and (max-width: 800px) {
    .leads{
     
        padding: 0px;
    }
   .leads>div>h1{
        font-size: 50px;
        
    }
    
    
    #leads-carousel {
        display:block;
        position: relative;
        text-align: center;
        margin: auto auto;
        max-width: 100%;
        height: 500px;
    
        top: 0%;
        left:0%;
         transform: translate(0, 0%);
        transition: 0.3s all linear;
    }
    #leads-carousel .slides {
        /* background-color: #ac4c29; */

        width: 300px;
        height: 700px;
        text-align: center;
     position: relative;
        z-index: 1000;
        transform: translate(0, 15%) ;
    }
    .lead-person h1 {
        font-size: 20px;
    }
    .slick-current .lead-person h1{
        font-size: 20px;
        text-shadow: 0px 0px 20px #fff;
        opacity: 1;
         background-color: rgba(255, 255, 255, 0.3); 
        cursor: pointer;
    }

    .competition h1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        font-size: 50px;
        font-weight: 800;
        text-shadow:0px 0px 40px #aaa inset
    }
    
    
    .competition #competition-counter {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        padding: 0 0;
        align-items: center;
        justify-content: center;
        background-color: #fafafa;
    }   
    #competition-counter .counter-counter {
        padding-top: 30%;
        position: relative;
        width: 30%;
        margin: 0 0;
        text-align: center;
        border: 5px solid #2c3f81;
        box-shadow: 0px 0px 100px 10px #aaa;
        border-radius: 10px;
        font-family: GilroyXBold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .counter-counter .counter-num {
        position: absolute;
        font-size: 15vw;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
    text-shadow: 0px 0px 40px #aaa;
    }
    
    .counter-counter .counter-time {
        position: absolute;
        font-weight: 800;
        font-size: 4vw;
        top: 80%;
        left: 0;
        width: 100%;
        height: 20%;
    
    }
}

/* classed for Javascript are defined here! */

.visible {
    opacity: 1;
}